<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <!-- &copy for copy write symbols -->
        <!-- text-muted class for lighting the text -->
        <span class="text-muted">&copy; YelpCamp 2020</span>  
    </div>
</footer>